
#header {
  position:relative;
  border-radius: 5px;
  height: 100px;
  background-color: #668284;
  clear: both;
  font-size: 14px;
  text-align: center;
  color: #ffffff:
}

#footer {
  position:relative;
  border-radius: 5px;
  height: 60px;
  background-color: #668284;
  clear: both;
  font-size: 14px;
  text-align: center;
  color: #ffffff:
}
