
#header {
  position:relative;
  border-radius: 5px;
  height: 80px;
  background-color: #668284;
  clear: both;
  font-size: 20px;
  text-align: center;
  color: #1b1b1c;
  padding-top: 1px;
}

.left {
  background-color: #cc7a00;
  height: 1500px;
  width: 00px;
  float: left;
  border-radius: 5px;
}

.right {
  background-color: #d2b48c;
  height: 1500px;
  width: 760px;
  float: right;
  border-radius: 5px;
  padding-left: 7px;
}

#footer {
  position:relative;
  border-radius: 5px;
  height: 120px;
  background-color: #668284;
  clear: both;
  font-size: 20px;
  text-align: center;
  color: #1b1b1c;
  padding-top: 2px;
}

