
#footer {
  position:relative;
  height: 50px;
  background-color: #668284;
  clear: both;
  font-size: 14px;
  text-align: center;
  color: #ffffff:
}

#header {
  z-index: 1;
  position: fixed;
  width: 97%;
  margin-top: -20px;
  height: 60px;
  background color: #668284;
  margin-bottom: 20px;
}
